div{
    width:50%;
    height:40px;
    border-radius: 25px;
    border:2px solid black;
    padding:30px;
}
h1{
    animation-name:moving;
    animation-direction:alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    font-size:15px;
}
@keyframes moving{
    from {
    margin-left: 100%;
    }

    to {
    margin-left: 0%;
    }
}